<hr />
<div id="<%= dom_id sed %>" class="sed">
  <% if current_user.id == sed.user_id %>
    <span id="sed-options"><i class="fa-solid fa-ellipsis"></i></span>
  <% end %>
  <div class="options">
    <center>
    <%= link_to "Edit sed", edit_sed_path(@sed) %>
    <%= button_to "Delete sed", @sed, method: :delete %>
    </center>
  </div>
  <h2> <%= sed.title %> </h2>
  <div class="sed-info">
    <%= link_to subseddit_path(sed.subseddit_name) do %>
      <h3> S/<%= sed.subseddit_name %> </h3>
    <% end %>
    <strong><p> <%= sed.sedder %> ⁍ <span><%= time_ago_in_words(sed.created_at) %> ago</span> </p></strong>
  </div>
  <% if sed.image.present? %>
    <div class="image-con">
      <center><%= image_tag sed.image, id: "sed-image"%></center>
    </div>
  <% else %>
    <br />
  <% end %>
  <p id="content"> <%= sed.content %> </p>
  
  <%= form_with(model: [@sed, @point], url: ascend_sed_path(sed), method: :post, class: "ascend-form") do |form| %>
    <%= form.hidden_field :value, value: 1 %>
    <%= form.submit "." %>
  <% end %>
  <span id="sed-points"> <%= sed.total_points %> </span>
  <%= form_with(model: [@sed, @point], url: descend_sed_path(sed), method: :post, class: "descend-form") do |form| %>
    <%= form.hidden_field :value, value: -1 %>
    <%= form.submit "." %>
  <% end %>
  <div class="sed-icons">
    <%= link_to sed do %><span><i class="fa-regular fa-comment"></i> <%= sed.comments.count %></span><% end %>
    <span data-url="<%= request.original_url %>" onclick="copyToClipboard(this)"><i class="fa-regular fa-share-from-square"></i></i></span>
  </div>
</div>
<%= form_with(model: [@sed, @comment], url: create_comment_sed_path(sed), method: :post, class: "comment-form", data: { turbo: true }) do |form| %>
  <center>
  <%= form.text_area :content, placeholder: "Any comments?" %>
  <%= form.submit "Comment" %>
  </center>
<% end %>
<div id="comments">
  <% @comments.each do |comment| %>
    <p><strong><%= comment.commenter %> </strong> ⁍ <span><%= time_ago_in_words(comment.created_at) %> ago</span></p>
    <p id="content"><%= comment.content %></p>
    <% if current_user && current_user.id == comment.user_id %>
      <%= button_to delete_comment_sed_path(sed, comment_id: comment.id), method: :delete do %> <span><i class="fa-solid fa-eraser"></i> Remove</span> <% end %>
    <% end %>
    <hr />
  <% end %>
</div>

