<!DOCTYPE html>
<html>
  <head>
    <title> Seddit </title>
    <!-- <title><%= content_for(:title) %></title> -->
    <meta property="og:image" content="https://res.cloudinary.com/dbdh6zbvt/image/upload/v1743435914/Brown_reddit_logo_i91sy8.jpg">
    <meta property="og:title" content="Invicon - Yeah I said it!">
    <meta property="og:description" content="Welcome to Seddit. A reddit rip off made with ruby on rails. My first rails project.">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="https://res.cloudinary.com/dbdh6zbvt/image/upload/v1743436019/Seddit_logo_g5dcrz.png">
    <link rel="apple-touch-icon" href="/icon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css" integrity="sha512-9xKTRVabjVeZmc+GUW8GgSmcREDunMM+Dt/GrzchfN8tkwHizc5RP4Ok/MXFFy5rIjJjzhndFScTceq5e6GvVQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag params[:controller], "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render partial: "layouts/navbar"%>
    <div class="Options">
      <span id="view-profile-tt">View profile</span>
      <% if current_user %>
        <span id="user"><i id="user-icon" class="fa-regular fa-user"></i> <%= current_user.username %> </span>
        <hr />
        <%= button_to destroy_user_session_path, method: :delete do %>
          <span id="log-out"><i class="fa-solid fa-right-from-bracket"></i> Log out </span>
        <% end %>
      <% else %>
        <span> <i class="fa-solid fa-exclamation"></i> Sign_up or Log in to get a few options here. </span>   
      <% end %>
      <hr>
      <br id="info" />
      <span id="info"> <i class="fa-solid fa-circle-info"></i> Press/Tap the Seddit logo to see more options. </span>
    </div>
    <main>
      <%= yield %>
    </main> 
  </body>
</html>
